@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;

  --color-primary: var(--color-indigo-600);
}

@layer base {
  body {
    @apply antialiased selection:bg-indigo-100 selection:text-indigo-900;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .transition-focus {
    @apply transition-all duration-200;
  }
}
